
.review-add h2{
    text-align: center;
    color: bisque;
}

.review-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.review-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.review-btn-container button:hover{
    cursor: pointer;
}
