.main-layout {
  max-width: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 450px) {
  .main-layout {
    max-width: 350px;
  }
}

@media screen and (min-width: 680px) {
  .main-layout {
    max-width: 600px;
  }
}

@media screen and (min-width: 880px) {
  .main-layout {
    max-width: 800px;
  }
}

@media screen and (min-width: 1120px) {
  .main-layout {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1350px) {
  .main-layout {
    max-width: 1200px;
  }
}