.list-info-mail {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  align-items: flex-start;
}

.mail-preview a {
  flex-grow: 1;
}

.list-info-mail li:not(:nth-child(2)) {
  font-weight: bold;
}

.list-info-mail li:nth-child(2) {
  color: rgb(131, 128, 128);
}

.list-info-mail li:last-child {
  align-self: flex-end;
}

.body-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mail-preview {
  display: flex;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0;
  box-shadow: 3px 0px 1px 0px black;
}

.mail-preview:hover {
  background-color: rgb(218, 214, 214);
}

.mail-preview button {
  background-color: inherit;
  transition: none;
  border: none;
  font-weight: bold;
}

.mail-preview button.star {
  font-weight: normal;
}

.mail-preview button:hover {
  transform: scale(1.2);
}

.actions-mail-preview-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-mail-preview-btns button {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 5px;
}
.actions-mail-preview-btns button img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 650px) {
  .list-info-mail {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .body-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .list-info-mail li:last-child {
    align-self: center;
  }
}
