.actions-list li img {
  height: 20px;
}

.actions-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions-list li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.mail-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-section {
  background-color: white;
  min-height: 90vh;
}

.details-section h4 small{
  font-size: 12px;
  color: rgb(182, 182, 182);
}

.details-section p {
  padding: 0 50px;
  border-bottom: 1px solid black;
}
