.mail-compose-section {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 3%;
  height: 60vh;
  width: 45vh;
  background-color: white;
  border: 1px solid #ede9e9;
}

.new-mail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(48, 47, 47);
  color: white;
  padding: 10px;
}

.new-mail-header span {
  font-size: 18px;
  cursor: pointer;
}

.new-mail-form {
  color: rgb(170, 169, 169);
  font-weight: bold;
  height: 85%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  display: grid;
  grid-template-rows: 40px 40px 1fr auto;
  gap: 10px;
}

.new-mail-form input,
.new-mail-form textarea {
  border: none;
}

.new-mail-form input:focus,
.new-mail-form textarea:focus {
  outline: none;
}

.new-mail-form textarea {
  resize: none;
}

.new-mail-form label {
  padding-bottom: 10px;
}

.options-new-mail img {
  height: 30px;
  cursor: pointer;
}

.new-mail-form input {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
}

.options-new-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-new-mail a{
  color: rgb(48, 47, 47);
}

@media screen and (min-width: 450px) {
  .mail-compose-section {
    height: 60vh;
    width: 65vh;
  }
}

@media screen and (min-width: 650px) {
  .mail-compose-section {
    height: 70vh;
    width: 80vh;
  }
}
