.book-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.review-list li {
  border-radius: 10px;
  /* text-align: center; */
  background-color: #386641;
  color: white;
}
