.color-picker {
    background-color: rgba(184, 184, 184, 0.678);
    border-radius: 4px;
    /* display: none; */
    position: absolute;
    display: flex;
    padding: 10px;
    gap: 5px;
}

.btn-color-pick {
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

.btn-color-pick:hover {
    cursor: pointer;
    border: 2px solid rgb(27, 27, 27);
    /* transform: scale(0.9); */
}