/* .note-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 15px;
    align-items: center;
    justify-content: center;
} */
.note-list {

    columns: 220px auto;
    column-gap: 15px;
    height: 100%;
    margin: 0 auto;
    /* padding: 0 auto; */
    align-content: center;

}