.note-preview-container {
    background-color: #fff;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 8px;
    padding: 10px;
    align-self: start;
    font-size: 1.2rem;
}

.note-preview-container:hover {
    box-shadow: 0 2px 5px 1px #00000046;
}

.note-preview-container p {
    margin: 0;
}

.note-preview-container .note-title {
    margin-block-end: 10px;
}

.note-preview .note-img-container {
    width: 100%;
}

.note-preview .note-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.note-preview .note-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.note-menu {
    opacity: 0;
    transition: 0.2s;
}

.note-menu.open {
    opacity: 1;
}

.note-menu img {
    width: 15px;
    margin-inline-end: 4px;
    cursor: pointer;
}

.note-menu img.btn-note-bgc {
    width: 17px;
    /* margin-inline-end: 3px;
    cursor: pointer; */
}