.note-details-container {
    padding: 25px;
    background-color: white;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px #0000008c;
}

.note-details-container .btn-close {
    position: absolute;
    top: 7px;
    left: 7px;
    height: 12px;
    width: 12px;
}


.note-details .note-title {
    margin-block-end: 10px;
}

.note-details .note-img-container {
    width: 100%;
}

.note-details .note-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.note-details .note-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* .note-menu {
    opacity: 0;
    transition: 0.2s;
}

.note-menu.open {
    opacity: 1;
} */