.header-container {
    background-color: #7cb2df;
    height: 80px;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #ffffff;
    position: relative;
}

.app-header h1 {
    text-decoration: overline;
    font-size: 1.6rem
}