.nav-links {
    width: 200px;
    height: 0px;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 87px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 5;
    box-shadow: 0 3px 8px 1px #afafaf;
}

.nav-links.open {
    height: 200px;
    opacity: 1;
    pointer-events: auto;
}