.nav-links {
    width: 200px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 10%;
    right: 0;
    /* transform: translate(100%, 0); */
    opacity: 0;
    transition: all 5s;
    pointer-events: none;
    z-index: 5;
}

.nav-links.open {
    /* transition: opacity 5s; */
    opacity: 1;
    pointer-events: auto;
}